# Pricefx Studio
config.json
.info

# Pricefx bundle: presets for inputs
**/CalculationLogic/*/parameters/
**/WorkflowFormula/*/parameters/

# Gradle files
gradle.properties
# Ignore Gradle project-specific cache directory
.gradle
# Gradle build directory
build/

# Maven files
target/

# IntelliJ's output directory
out/

# Idea
*.ipr